<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчёт ленточных конвейеров</title>
</head>
<body>

<p></p>

<h1><a href="
https://drive.google.com/open?id=1mHdPtzfdRslaLjVqzTLBABMxM9PY6q4Q&authuser=3d.model.inventor%40gmail.com&usp=drive_fs">
    Расчёт выполнен на основе пособия по проектированию конвейерного оборудования.</a></h1>


<h2>Заполните данные:</h2>
<form action="{% url 'result' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

<br>
<br>
<br>
<br>
<br>
<br>


</body>
</html>